
    body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      background: #f7f7f7;
    }

    .hero-banner {
      position: relative;
      height: 200px;
      color: white;
      
      background-image: url('https://as1.ftcdn.net/jpg/01/42/04/48/500_F_142044867_cqgHthpqpBzRZdOQLfitGWkbcjc9Sunu.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width:100%;
      align-items: center;
    }
    h1,p{
        margin-left:40px;
    }
    h2{
        color:goldenrod;
    }
    .overlay {
      position: absolute;
      background-color: rgba(0,0,0,0.8);
      text-align:left;
      width:100%;
      height:200px;
      font-size: x-large;
      
    }

    .info-grid {
      display: flex;
      justify-content: space-around;
      background: white;
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .section {
      padding: 20px 40px;
    }

    .carousel {
      display: flex;
      overflow-x: scroll;
      gap: 10px;
      padding: 10px;
    }

    .carousel img {
      width: 300px;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
    }

    button {
      background-color: #015998;
      color: white;
      border: none;
      padding: 10px 16px;
      margin: 10px 5px 20px;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background-color: #003961;
    }

    iframe{
      width: 100%;
      border-radius: 10px;
      margin: 10px 0;
    }

    .bottom {
        width:100%;
        display:flex;
    }
    .section1{
        width:50%;
        color: #333;
        margin-bottom: 10px;
        text-align:center;
    }
    .section2{
        width:50%;
        color: #333;
        margin-bottom: 10px;
        text-align: centerS;
    }



 